.products-menu {
  list-style: none;
  width: 100%;
  position: absolute;
  left: 24px;
  top: 79px;
  background-color: white;
}
.products-menu ul {
  height: 406px;
  top: 70px;
}
    
.products-menu li {
  display: flex;
  column-gap: 16px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  font-family: Inter; 
  font-size: 18px;
  font-weight: 300; 
}
.products-menu li a{
  text-decoration: none;
  color: #0c0c0c;
  cursor: pointer;
}
    
.products-menu li:hover {
  background-color: #f1f1f1;
}

.products-menu-card{
  display: flex;
  flex-direction: column;
}
 