.blogs{
      padding-bottom: 35px;
}

.blogs-content{
      column-gap: 24px;
      row-gap:16px;
}

.blog-item-info{
      padding-top: 30px;
      padding-left: 16px;
      padding-bottom: 30px;
}

.blog-item{
      box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);

}
.blog-item-img{
      border-radius: 8px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

}
.blog-item-img.main{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 8px;
}

.blog-item-date-text{
      color: #9e9e9e;
      font-size: 12px;
}

.blog-item-descr{
      font-size: 14px;
      color: #717171;  
}
.blog-item-date{
      column-gap: 8px;
}


/*main-blog*/

.main-blog-content{

      box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}

.main-blog-title{
      font-size: 20px;
      font-weight: 500;
      color: #0c0c0c;
}

.main-blog-read-time{
      column-gap: 2px;
      font-size: 12px;
}