.countdown{
      display: flex;
      flex-direction: row;
      column-gap: 16px;
      margin-top: 44px;
      align-items: center;
      justify-content: center;

}
.countdown-block{

            display: flex;
            flex-direction: column;
            width: 26px; 
            height: 38px; 
            padding: 4px 8px;
            border-radius: 8px; 
            border: 1px #0C0C0C solid; 
            justify-content: flex-start; 
            align-items: center; 
            align-self: stretch; 
            text-align: center; 
            color: #0C0C0C;
            font-size: 14px; 
            font-weight: 500; 
}