.sale-wrapper{
      height: 325px;
      background-color:#073a88;     
}
.sale-items{
      margin-right: 20px;
}
.sale-title a{
      color: white;
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;

}
.sale-subtitle a{
      color: white; 
      font-size: 20px; 
      font-weight: 300; 
      line-height: 28px; 
      padding-left: 40px;
      padding-top: 8px;
      text-decoration: none;
      text-align: center;
}

.sale-items-wrapper{
      gap: 24px;
}

.sale-text a{
      color: white;
      display: flex;
      flex-direction: column  ;
      padding-top: 62px;
      padding-left: 32px;
      text-decoration: none;
}

.sale-button a{
      cursor: pointer;
      text-align: center;
}

.sale-item{
      background-color: white;
      padding: 12px 8px;
}

.sale-item-name{
      width: 168px; 
      height: 30px; 
      color: #0C0C0C; 
      font-size: 15px;
}

.sale-item-price-old{
      color: #717171;
}

.sale-item-price-new{
      color: #0C0C0C; 
}

.sale-item-discount{
      width: 35px;
      background: #FDDBC9; 
      border-radius: 8px;
      border-top-left-radius: 0px; 
      border-bottom-left-radius: 0px;
      overflow: hidden;
      color: #F45E0C; 
      font-size: 14px; 
      top: 10px;
      left: 2px;
}

.arrows{
      cursor: pointer;
}