.presale-info{
      padding-right: 66px;
      padding-left: 12px;
}
.dots{
      position: absolute;
      left: 0;
      bottom: 0;
}
.circle1{
      position: absolute;
      left: -50px;
}
.btn:hover{
  opacity: 1 !important;
  background-color: #0056b3;
}

.circle2{
      position: absolute;
      right: 10px;
      top: -55px;
}
.circle3{
      position: absolute;
      right: -20px;
      bottom: -30px;
}

.presale-title span{
      color: #0C0C0C;    
}

.presale-subtitle{
     color: #0C0C0C;
      font-size: 20px;
}

.presale-description{
      color: #2D2D2D;
      line-height: 24px;
}

.presale{
      background: linear-gradient(287deg, #B0E9C9 0%, #1FB6CF 48%, #1975B9 100%); 
}

.presale-text{
      width: 250px;
}
.ellipse{
      position: absolute;
      bottom: 0px;
      z-index: 0;
    }
.btn:hover{
      opacity: 1;
}

.button{
      margin: 0 auto;
      background: #0C68F4;
      color: white; 
      z-index: 1;
}
