
.main__header{
     width: 337px;
      color: #042352; 
      font-size: 64px; 
      font-family: Inter;
       font-weight: 600;
}
.main-img{
      width: 728px;
      height: 443px;
}     
.main-product-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

.main__subtitle{
      width: 419px;
      color: #042352; 
      font-size: 32px; 
      font-family: Inter;
       font-weight: 500;

}
.main__subtitle span{
      color: #F45E0C; 
}
.main__button{
      text-align: center;
      display: block;
      width: 288px; 
      height: 56px; 
      background: #F45E0C; 
      border-radius: 8px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center; 
      row-gap: 8px; 

}
.main__button a{
      text-decoration: none;
      color: white;
}