
.main__header{
      color: #042352; 
      font-weight: 600;
      font-size: 64px;
}

.main__subtitle{
      color: #042352; 
      font-size: 32px; 
      font-weight: 500;

}
.main__subtitle h3 span{
      color: var(--primary-color);
      color: red;
}
.main__button{
      width: 288px;
      height: 56px;
      background: var(--secondary-color); 

}
.main__button a{
      text-decoration: none;
      color: white;
}

.secondary-color{
      color: var(--secondary-color);
}