.blog-text{
      font-weight: 300;
      font-size: 20px;
}

.blog-page-content{
      max-width: 808px;
}

.blog-text span{
      font-size: 16px;
      font-weight: 600;
}

.blog-author{
      font-size: 16px;
      font-weight: 300;
      color: #717171;
      margin: 16px 0;
}

.blog-page-wrapper{
      margin-top: 44px;
      column-gap:24px;
}

.blog-img{
      margin-bottom: 16px;
}
.leave-comment{
      margin-top: 40px;
}

.comments{
      margin-top: 40px;
}

#comment{
      width: 100%;
      height: 277px;
      border-radius: 8px;
      border: solid 1px #9e9e9e;
}
.submit{
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 14px 0px 14px 0px;
      width: 100px;
      
}



