.blog-text{
      font-weight: 300;
      font-size: 20px;
}

.blog-text span{
      font-size: 16px;
      font-weight: 500;
}

.blog-author{
      font-size: 16px;
      font-weight: 300;
      color: #717171;
      margin: 16px 0;
}

.blog-page-wrapper{
      margin-top: 44px;
}

.blog-img{
      margin-bottom: 16px;
}