.header-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}

header{
      padding-top: 18px;
}
.nav{
      column-gap: 48px;
      display: flex;
      flex-direction: row;
}

.nav a{
      text-decoration: none;
      color: #0c0c0c;
}
.menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 15px;
}
.menu-icon{
      height: 24px;
      width: 24px;
}
