.advertisement{
      background-color: #223949;
}

.advertisement-content{
      padding-bottom: 41px;
      margin-right: 280px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
}
.advertisement-info{
      margin-top:128px;
      margin-left: 64px;
      
}
.advertisement-img{
      margin-top: 41px;
      
}
.advertisement-title{
      color: white; 
      font-size: 44px; 
      font-weight: 500; 

}

.advertisement-subtitle{
      color: white; 
      font-size: 24px; 
      font-weight: 300; 
}

.advertisement-button{
      width: 68px; 
      height: 35px;
      padding-left: 16px; 
      padding-right: 16px; 
      padding-top: 8px; 
      padding-bottom: 8px; 
      background: #FF6951;
      border-radius: 8px;
      justify-content: center; 
      align-items: center; 
      display: inline-flex;
      text-align: center; 
      color: #223949; 
      font-size: 16px; 
      font-weight: 400; 

}