.advertisement-content{
      background-color: #223949;
}
.advertisement-info{
      margin-left: 64px;
      position: relative;
}
.advertisement-title{
      color: white; 
      font-size: 44px; 
      font-weight: 500; 
}

.advertisement-subtitle{
      color: white; 
}

.advertisement-button a{
      margin-top: 32px;
      width: 68px; 
      height: 35px;
      background: #FF6951;
      color: #223949; 

}
