@import url(./normalize.css);
@import url(./components/header/header.css);
@import url(./components/mainProduct/mainProduct.css);
@import url(./components/categories/categories.css);
@import url(./components/sale/sale.css);
@import url(./components/newProducts/new-products.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./components/title/title.css');
@import url('./components/countdown/countdown.css');
@import url('./components/hotdeals/hotdeals.css');
@import url('./components/bestsellers/bestsellers.css');
@import url('./components/topbrands/topbrands.css');
@import url('./components/advertisement/advertisement.css');
@import url('./components/blogs/blogs.css');
@import url('./components/services/services.css');
@import url('./components/footer/footer.css');
@import url('src/responsive.css');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container{
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}
body {
  margin: 0;
  box-sizing: border-box;
}


@media (max-width: 360px){
  .container{
        max-width: 312px;
  }
  .nav{
    display: none;
  }
  .menu-icon.search{
    display: none;
  }
  .logo{
    display: none;
  }
}
