@import url(./components/header/header.css);
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container{
  max-width: 1180px;
  margin: 0 auto;

}
body {
  margin: 0;
  box-sizing: border-box;
}

