.newproducts-item{
      box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}
.horizontal{
      height: 1px;

      background-image: linear-gradient(to right, rgba(68, 68, 68, 0.1), rgba(16, 16, 16, 0.7) 54%, rgba(68, 68, 68, 0.1) 99%);
}
.new-products-item-rating{
      margin-top: 20px;
      font-size: 15px;
}
.newproducts-item-rating img{
      margin-right: 2px;
}
.newproducts-item-name{
      color: #0C0C0C; 
      line-height: 24px; 
}
.newproducts-item-price{
      color: #0C0C0C; 
      font-size: 18px; 
}

