

.blog-horizontal{
      border-radius: 8px;
      box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}

.padding-small{
      padding: 23px 0px 23px 16px;
}

.padding-large{
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left:16px;
}

.height-large{
      height: auto;

}

.height-small{
      height: 144px;
}

